.coursescomponent{
    background-color: white;
    flex: 2.5;
    border-top-left-radius: 11%;
    border-bottom-left-radius: 11%;
    display: flex;
    align-items: center;
    justify-content: center;
}

select{
    background: #0563af;
    color: #fff;
    padding: 10px;
    max-width: 200px;
    border: none;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}
