/*======= Home Page =======*/
.main-header {
	.right-widget {
		display: flex;
		align-items: center;
	}
}
.link {
    font-size: 14px;
    padding: 3px 15px;
    font-weight: 600;
    z-index: 9;
}
.btn-lg {
    min-width: 110px;
    font-size: 12px;
    padding: .45rem .5rem;
    border-radius: 5px;
}
.top-footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}
.footer-link {
   display: flex;
   justify-content: space-between;
   width: 25%;
	ul {
		li {
			font-size: 0.875rem;
		}
	}
}
.main-footer {
	padding: 5rem 0;
	.top-footer {
		margin-bottom: 6rem;
	}
}
.signUp-form {
	h3 {
		font-size: 1.2rem;
		font-weight: 700;
		line-height: 1.1;
		margin-bottom: 1.25rem;
	}
}
.bottom-footer {
	p {
		font-size: 90%;
		color: rgba(0,0,0,0.6);
		line-height: 1.3;
	}
	.social-links {
		li {
			margin-right: 0.625rem;
			&:last-child {
				margin-right: 0;
			}
			a {
			   width: 30px;
			   height: 30px;
			   box-shadow: 0 0 10px rgba(70, 70, 70, 0.3);
			   border-radius: 100%;
			   display: flex;
			   justify-content: center;
			   align-items: center;
			   font-size: 1.1rem;
			   color: white;
			}
		}
	}
}
.session-page {
    background-image: url(/assets/img/session-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    .session-inner {
    	position: relative;
    	.search-block {
    		position: absolute;
    		background-color: white;
    		border-top-left-radius: 30px;
    		border-bottom-left-radius: 30px;
    		right: -15px;
    		top: -53px;
    		bottom: 0;
    		height: 100vh;
    	}
    }
}
.top-section {
    margin-top: 120px;
    padding: 2.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .media {
    	margin-bottom: 3rem;
    	.media-body {
    		h5 {
				color: rgba(0, 0, 0, 0.6);
				font-size: 14px;
				letter-spacing: 1px;
				font-weight: 600;
    		}
    		.search-box {
			    border: 0;
			    border-bottom: 1px solid rgba(0,0,0,0.2);
			    border-radius: 0;
			    margin-bottom: 0.5rem;
			    background-image: none;
			    &:focus {
			    	box-shadow: none;
			    }
			}
    	}
    }
    .companies-logs {
    	h6 {
			color: rgba(0, 0, 0, 0.6);
			font-size: 14px;
			font-weight: 600;
    	}
    }
}
.college-list {
	background-color: #ddd;
	padding: 2rem 2rem 1rem;
	border-top-left-radius: 30px;
   	border-bottom-left-radius: 30px;
   	position: fixed;
    bottom: 0;
    right: 0;
    width: 57.2%;
	.slider-list {
		> li {
			width: 168px;
    		margin-right: 0.7rem;
    		&:last-child {
    			margin-right: 0;
    		}
    		img {
    			margin-bottom: 0.5rem;
    			border-radius: 10px;
    		}
    		.rating {
    			li {
    				margin: 0;
    			}
    		}
		}
	}
	.slider-head {
		margin-bottom: 1.2rem;
		h4 {
			font-size: 0.9rem;
			font-weight: 700;
		}
	}
	.actions {
		a {
			background-color: rgba(0, 0, 0, 0.5);
			width: 25px;
			height: 25px;
			border-radius: 100%;
			line-height: 25px;
			display: inline-block;
			text-align: center;
			font-size: 1rem;
			color: white;
			margin: 0 3px;
		}
	}
}
.d-bottom {
	position: relative;
	.bottom-block {
    	position: fixed;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    padding: 2rem;
	    color: white;
	    h2 {
	    	font-weight: 700;
    		font-size: 1.8rem;
    		line-height: 1.4;
	    }
	    p {
	    	font-size: 14px;
	    }
	}
}